/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

@keyframes scale-heart {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.5);
  }
}

@keyframes appear-sparks {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.button-shadow {
  transition: box-shadow 0.3s ease;
}

.card__icon-button {
  transition: border 0.3s ease;
}

.like-icon:hover .core {
  transition-delay: 0.03s;
}

.like-icon:hover .main-body,
.like-icon:active .main-body {
  transition-delay: 0.05s;
}

.like-icon .core,
.like-icon .main-body,
.like-icon:active .core {
  transition: fill 0.3s linear;
}

.like-icon .contour {
  transition: fill 0.1s linear;
}

.like-icon.is-liked .main-body {
  transition-delay: 0.05s;
}

.like-icon.is-liked .contour {
  transition-delay: 0.06s;
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: scale-heart 0.3s ease-in 0.1s alternate;
}

.like-icon.is-liked .sparks {
  animation: appear-sparks 0.3s ease-in 0.3s alternate;
}