/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 376px;
  min-block-size: 100dvb;
  max-inline-size: 700px;
  margin: auto;
  padding-block-start: 100px;
  color: var(--main-section-color);
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-size: cover;
  background-attachment: fixed;
}

@supports (font-variation-settings: normal) {
  .page {
    font-family: var(--main-font, Arial, Helvetica, sans-serif);
  }
}

.header {
  width: clamp(376px, 100vw, 700px);
  margin-block-end: 100px;
  height: 364px;
  background-color: var(--background-color);
  border: 2px solid var(--main-section-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--accent-font, Courier, monospace);
}

.header__title-text {
  padding-block-start: clamp(100px, 15vh, 140px);
  font-size: clamp(55px, 4rem, 75px);
  font-weight: var(--text-font-weight);
  line-height: 1;
  text-transform: uppercase;
  margin-block-end: 20px;
}

.header__subtitle-text {
  font-size: clamp(20px, 0.226rem + 2.7692vw, 25px);
  font-weight: var(--text-font-weight);
  line-height: 1;
  text-transform: uppercase;
}

.main__cards-list {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color, #fff);
  border: 2px solid var(--main-section-color, #000);
}

.main__card-title {
  font-variation-settings: "wght" var(--title-font-weight);
  font-size: 18px;
  line-height: 1.21;
  padding: 4px 24px 4px 10px;
  border-block-end: 2px solid var(--main-section-color, #000);
}

.main__card-box-image {
  position: relative;
}

.main__card-iamge {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: right;
}

.grayscale {
  filter: grayscale(0.8) contrast(0.8);
}

.saturate {
  filter: saturate(4);
}

.hue {
  filter: hue-rotate(30deg);
}

.invert {
  filter: invert(1) contrast(0.6);
}

.sepia {
  filter: sepia(0.9);
}

.blur {
  filter: blur(18px);
}

.mult {
  filter: hue-rotate(90deg) blur(2px) contrast(0.5) saturate(1.5);
 }

.main__card-lable {
  position: absolute;
  top: 25px;
  inset-inline-end: clamp(0.8125rem, 0.5475rem + 1.1278vw, 1.5625rem);
  font-family: var(--accent-fontt, Courier, monospace);
  font-size: 14px;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  text-shadow:
    -1px 0 var(--background-color, #fff),
    0 1px var(--background-color, #fff),
    1px 0 var(--background-color, #fff),
    0 -1px var(--background-color, #fff);
}

@supports ((text-stroke: 1px var(--background-color)) or (-webkit-text-stroke: 1px var(--background-color))) {
  .main__card-lable {
    -webkit-text-stroke: 1px var(--background-color, #fff);
    text-shadow: none;
  }
}

.main__card-text {
  padding: 23px 25px 25px;
  display: flex;
  flex-direction: column;
  gap: 29px;
  font-variation-settings: "wdth" var(--text-font-weight);
  font-size: 18px;
  line-height: 1.16;
  border-block-start: 2px solid var(--main-section-color, #000);
}

.main__card-butonns {
  display: flex;
  justify-content: flex-end;
  gap: 3px;
  padding: 0 25px 25px;
}

.button {
  position: relative;
  background: transparent;
  border: 2px solid var(--main-section-color, #000);
  cursor: pointer;
}

.button__text {
  font-family: var(--accent-font, Courier, monospace);
  font-size: 14px;
  line-height: 1.11;
  color: var(--color-blend, #fff);
  mix-blend-mode: difference;
}

.card__like-button {
  min-inline-size: 130px;
}

.button-shadow:focus {
  outline: none;
  box-shadow: 2px 2px 0 var(--main-section-color, #000);
}

.button-transform::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: currentColor;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

.button-transform:hover::before {
  transform: scaleX(1);
}

.card__icon-button {
  border: 2px solid transparent;
  padding: 0;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--main-section-color, #000);
  outline: none;
}

.like-icon {
  width: 39px;
  overflow: visible;
}

.main-body,
.core {
  fill: none;
}

.like-icon:hover .core,
.like-icon:hover .main-body {
  fill: var(--main-section-color, #000);
}

.like-icon:active .core,
.like-icon:active .main-body {
  fill: var(--heart-color, #f00);
}

.like-icon.is-liked .core,
.like-icon.is-liked .main-body,
.like-icon.is-liked .contour {
  fill: var(--heart-color, #f00);
}

.sparks {
  opacity: 0;
}

.footer {
  padding: 52px 0 103px;
  display: flex;
  justify-content: center;
}

.footer__button {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: var(--color-bg, #fff);
  padding: 18px 20px;
}

.popup {
  font-family: var(--font-accent, Courier, monospace);
  color: var(--color-main, #000);
  text-transform: uppercase;
  max-inline-size: 357px;
  padding: 30px;
  background-color: var(--color-bg, #fff);
  border: 2px solid var(--color-main, #000);
}

.popup__content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.popup__text {
  line-height: 1.5;
}

.form {
  padding-block-start: 30px;
}

.popup__close-button {
  padding-block: 12.5px;
  text-transform: uppercase;
  width: 100%;
}

.popup::backdrop {
  opacity: 0.75;
  background-color: rgba(0, 0, 0, 1);
}

.floppy {
  width: 21px;
  color: var(--color-blend, #fff);
  mix-blend-mode: difference;
}

.floppy-dialog {
  width: 39px;
}

@media (max-width: 375px) {
  .watermark {
    inset-inline-end: 13px;
  }

  .save__button {
    flex-direction: column;
  }

  .popup {
    padding: clamp(1.875rem, -2.4886rem + 21.8182vw, 2.625rem);
  }

  .floppy {
    width: 28px;
  }
}