/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font: 'Inter-Variable';
  --accent-font: 'PressStart2P';

  --text-font-weight: 400;
  --title-font-weight: 700;
  
  --background-color: #fff;
  --main-section-color: #000;
  --heart-color-contur: #000;
  --heart-color: #f00;
  --blend-color: #fff;

  --background-image:
    repeating-linear-gradient(to right, #d3d3d3 0 2px, transparent 2px 4px),
    repeating-linear-gradient(#d3d3d3 0 2px, transparent 2px 4px),   
    linear-gradient(#e7e7e7 0.01%, #1a1a1a);
}